<div class="row">
    <div class="col-md-6">
        <h1>Inscrivez-vous</h1>
        <!-- ngSubmit est un evenement  -->
        <!-- ngModel permet de faire le bindding bdirectionnelle  -->
        <form (ngSubmit)="userForm.valid && saveUser()" [formGroup]="userForm" novalidate>
            <div class="form-group" [ngClass]="{'has-error' : userForm.submitted && !mail.valid}">
                <label>Email</label>
                <input name="mail" [formControl]="mail" [(ngModel)]="user.mail" required/>
                <div class="help.block" role="alert" *ngIf="userForm.submitted && !mail.valid">
                    Le mail est oblegatoire
                </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error' : userForm.submitted && !password.valid}">
                <label>Password</label>
                <input name="password" [formControl]="password" [(ngModel)]="user.password" required/>
                <div class="help.block" role="alert" *ngIf="userForm.submitted && !password.valid">
                    Le mot de passe est oblegatoire
                </div>
            </div>
            <!-- ngClass permet d'ajouter une class au fonction de Test-->
            <div class="form-group" [ngClass]="{'has-error' : userForm.submitted && !name.valid}">
                <label>Nom</label>
                <input name="name" [formControl]="name" [(ngModel)]="user.name" (ngModelChange)="user.name=$event" required/>
                <div class="help.block" role="alert" *ngIf="userForm.submitted && !name.valid">
                    Le nom est oblegatoir
                </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error' : userForm.submitted && !firsname.valid}">
                <label>Prenom</label>
                <input name="firsname" [formControl]="firsname" [(ngModel)]="user.firsname" required/>
                <div class="help.block" role="alert" *ngIf="userForm.submitted && !firsname.valid">
                    Le prenom est oblegatoir
                </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error' : userForm.submitted && !brithdate.valid}">
                <label>Date de naissance</label>
                <input name="brithdate" [formControl]="brithdate" [(ngModel)]="user.brithdate" required isOldEnough/>
                <div class="help.block" role="alert" *ngIf="userForm.submitted && !brithdate.valid">
                    La date de naissance est oblegatoire
                </div>
            </div>
            <button type="submit">Enregistrer</button>
        </form>
    </div>
</div>